<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>About Us</h1>
          We are a group of five BS Management Engineering students from the Ateneo de Manila University.
          Using the skills we've learnt from ITMGT 25.03, we have decided to create a website that helps and accompanies others through their COVID-19 vaccination journeys.
          It is our hope that our website provides important information and statistics on the COVID-19 scene in the Philippines, as well as assist our users with their queries, important dates, and the like.
          <br></br>
          Join us now and allow us to help you in your hassle-free vaccination!
        {% include "footer.html" %}
  </body>
</html>
