<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>Chat with Us!</h1>
          No, you should not take a blood thinner unless your healthcare provider has prescribed that medication to treat an existing health condition. COVID-19 vaccines are safe for people taking blood thinners, but you should let the person giving you the vaccine know about any medication you are taking BEFORE you are given the vaccine.
          <br></br>
          <a href="/chatbot">Back</a>
        {% include "footer.html" %}
  </body>
</html>
