<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>Chat with Us!</h1>
          Reported side effects to COVID-19 vaccines have mostly been mild to moderate and short-lasting.
          They include: fever, fatigue, headache, muscle pain, chills, diarrhoea, and pain at the injection site.
          The chances of any of these side effects following vaccination differ according to the specific COVID-19 vaccine.
          <br></br>
          <a href="/chatbot">Back</a>
        {% include "footer.html" %}
  </body>
</html>
