<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>Chat with Us!</h1>
          Yes, you should be vaccinated regardless of whether or not you already had COVID-19. This is because experts do not yet know how long you are protected from getting sick again after recovering from COVID-19. Even if you have already recovered from COVID-19, it is possible–although rare–that you could be infected with the virus that causes COVID-19 again.
          <br></br>
          <a href="/chatbot">Back</a>
        {% include "footer.html" %}
  </body>
</html>
