<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>Chat with Us!</h1>
          We don’t know how long protection lasts for those who are vaccinated. What we do know is that COVID-19 has caused very serious illness and death for a lot of people. If you get COVID-19, you also risk giving it to loved ones who may get very sick. Getting a COVID-19 vaccine is a safer choice.
          <br></br>
          Experts are working to learn more about both natural immunity and vaccine-induced immunity. CDC will keep the public informed as new evidence becomes available.
          <br></br>
          <a href="/chatbot">Back</a>
        {% include "footer.html" %}
  </body>
</html>
