<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>Chat with Us!</h1>
          The number of doses needed depends on which vaccine you receive.
          If you receive a vaccine that requires two doses, you should get your second shot as close to the recommended interval as possible. However, your second dose may be given up to 6 weeks (42 days) after the first dose, if necessary. You should not get the second dose earlier than the recommended interval.
          <br></br>
          <a href="/chatbot">Back</a>
        {% include "footer.html" %}
  </body>
</html>
