<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>Chat with Us!</h1>
          Severe allergic reactions have occurred rarely to some of the COVID vaccines. A severe allergic reaction––such as anaphylaxis––is a potential but rare side effect with any vaccine. In persons with a known risk, such as previous experience of an allergic reaction to a previous dose of the vaccine or any of the known components in the vaccine, precautions may need to be taken.
          <br></br>
          <a href="/chatbot">Back</a>
        {% include "footer.html" %}
  </body>
</html>
