<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>Chat with Us!</h1>
          There are strict protections in place to help ensure the safety of all COVID-19 vaccines. Before receiving validation from WHO and national regulatory agencies, COVID-19 vaccines must undergo rigorous testing in clinical trials to prove that they meet internationally agreed benchmarks for safety and efficacy.
          <br></br>
          <a href="/chatbot">Back</a>
        {% include "footer.html" %}
  </body>
</html>
